---
# This configuration requires clang-format 3.8 or higher.
BasedOnStyle:  WebKit
# changed! CK
#XXX AllowShortLoopsOnASingleLine: true
#< ColumnLimit: 0
ColumnLimit: 79
# ---
#< AllowShortFunctionsOnASingleLine: All
#XXX AllowShortFunctionsOnASingleLine: Inline
# ---
#< SortIncludes:    true
#< SortUsingDeclarations: true
#XXX SortIncludes:    false
#XXX SortUsingDeclarations: false
# ---
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
  ## SplitEmptyFunction: false
  ## SplitEmptyRecord: true
  ## SplitEmptyNamespace: true

#TODO: The preprocessor directive indenting style to use.
# IndentPPDirectives: AfterHash
# ---
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: NonAssignment
# DerivePointerAlignment: false
# PointerAlignment: Right
## AlignEscapedNewlines: DontAlign
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: true
AlignTrailingComments: true
ContinuationIndentWidth: 4
MaxEmptyLinesToKeep: 2
Standard: Cpp03
...
